body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.brand-logo img {
	max-height: 64px;
	@media #{$medium-and-down} {
		max-height: 56px;
		margin-left: 10px;
	}
	@media #{$small-and-down} {
		margin-top: 9px;
		max-height: 36px;
	}
}

main {
	flex: 1 0 auto;
}

.no-padding {
	padding: 0px;
}

.clickable {
	cursor: pointer;
}

.address-card-panel, .delivery-card-panel {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 0rem;
	margin-bottom: 1rem;
	
	.row {
		margin-bottom: 0rem;
	}
}

.address-title-card, .delivery-title-card {
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: 700;
}

.package-type-choices p {
	padding: 3px;
}

pre.p {
	white-space: pre-wrap; 
	word-wrap: break-word;
	font-family: inherit;	
}

.switch {
	margin-top: 10px;
}

.guide-box {
	font-size: 1rem;
	z-index: 2000;
	background-color: transparent;
	border-radius: 2px;
	color: #fff;
	min-height: 36px;
	line-height: 120%;
	opacity: 0;
	display: none;
	position: absolute;
	text-align: center;
	max-width: calc(100% - 4px);
	overflow: hidden;
	left: 0;
	top: 0;
	padding: 2rem;

	span {
		color: color("shades", "white");
		
		&.text {
			text-align: left;
			margin-left: 0.8rem;
		}
		&.icon {
			float: left;
		}
		&.ok {
			cursor: pointer;
			padding-left: 0.5rem;
			float: right;
		}
	}

	.arrow-holder {
		position: absolute;
		left: 50%;
		i {
			font-size: 3rem;
			margin-left:-1.5rem;
			display: none;
		}
		&.bottom-arrow {
			bottom: -0.5rem;
			i.bottom-arrow {
				display: block;	
			}
		}
		&.top-arrow {
			top: -0.5rem;
			i.top-arrow {
				display: block;
			}
		}
	}
	.backdrop {
		background: color("green", "lighten-1");
	}

	&.warning {
		padding: 0.9rem;
		.backdrop {
			background: color("red", "lighten-1");
		}
		span.ok a {
			background: color("green", "lighten-1") !important;
		}
	}
}