<!-- <ion-header>
  <ion-navbar>
    <ion-title>
      Roulette
    </ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content class="roulette" scroll="false">
	<roulette-game #game></roulette-game>
</ion-content>
